.menu.top-menu{
  margin: auto;
  box-shadow: none;
  border: none !important;
  background-color: #f5f5f5;
}

.top-ui-container{
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown.my-cart{
  box-shadow: none;
  border: none;
  align-self: center;
}

.item{
  border: none;
  box-shadow: none;
}
.icon{
  size: auto;
  align-self: center;
}
